body {
    margin: 0;
    padding: 0;
	font-family: 'Ubuntu', sans-serif;/*fonts.google.com */
}
*{
	box-sizing: border-box; /* что бы падинки неувеличивали дивы*/
}
/*

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Roboto', sans-serif;

*/
 header {
	 background: url(../img/first-bg.jpg) no-repeat center top / cover;
 }
 .logo h1{
	 color: #21220D;
	 float:left;
	 margin : 0;
	 font-family: 'Lobster', cursive;
 }
#block-for-slider {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}
.container{
	 width: 960px;
	 margin: 0 auto; /*по центру горизонтали*/ 
 }
 .clearfix:after, .clearfix:before { /* создает размер для блоков c float */	 
	 content: '';
	 display: table;
	 width: 100%;
	 }
.clearfix:after {
	clear: both;
}
.nav {
	 float: right;
 }
 .menu{
	 padding: 0;
	 margin:0;
	 display: block;
	 
 }
.menu li{
	float: left;
	display:block;
	margin-right:30px;
} 
.menu a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	
}
.button {
	background: #fed136;
	color: #484543;
	border-radius: 5px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
	margin-bottom: 30px;
	cursor: pointer;
	font-family: 'Roboto Condensed', sans-serif;
}
.button a{
	text-decoration: none;
	text-transform: uppercase;
	
}
#viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}
#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}