#myslide {
	width: 349px;	
	height: 398px;
	border: 3px solid black;
	position: relative;
	overflow: hidden; / обрезает все, что выходит за границы блока
}
#one, #two {
	width: 349px;
	height: 398px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden; / обрезает все, что выходит за границы блока
}
#one{	
	background: yellow;
}
#two{	
	background: gray;
}
.border{
	border: 2px  solid black;
}
/*
header {
	 background: url(../img/first-bg.jpg) no-repeat center top / cover;
 }
 */
 .logo h1{
	 color: #21220D;
	 float:left;
	 margin : 0;
	 font-family: 'Lobster', cursive;
 }
#block-for-slider {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

 .clearfix:after, .clearfix:before { /* создает размер для блоков c float */	 
	 content: '';
	 display: table;
	 width: 100%;
	 }
.clearfix:after {
	clear: both;
}
.nav {
	 float: right;
 }
 .menu{
	 padding: 0;
	 margin:0;
	 display: block;
	 
 }
.menu li{
	float: left;
	display:block;
	margin-right:30px;
} 
.menu a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	
}